{% extends 'base.html.twig' %}

{% block title %}Category{% endblock %}

{% block body %}
    <h1>{{ category.name }}</h1>
    <h2>Categories</h2>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
        </tr>
        </thead>
        <tbody>
        {% for childCategory in listChildCategory %}
            <tr>
                <td>{{ childCategory.id }}</td>
                <td>{{ childCategory.name }}</td>
                <td>
                    <a href="{{ path('app_catalog_category', {'codeName': childCategory.codeName}) }}">show</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h2>Products</h2>
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
            <th>Category</th>
            <th>Price</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.category }}</td>
                <td>{{ product.price }}</td>
                <td>
                    <a href="{{ path('app_product_show', {'id': product.id}) }}">show</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if parentCategory %}
        <a href="{{ path('app_catalog_category', {'codeName': parentCategory.codeName}) }}">back to list</a>
    {% else %}
        <a href="{{ path('app_catalog') }}">back to list</a>
    {% endif %}


{% endblock %}
