{% extends 'base.html.twig' %}

{% block title %}Category index{% endblock %}

{% block body %}
    {% if category %}
        <h1>{{ category.name }}</h1>
    {% endif %}

    {% if categories %}
        {{ include('catalog/_categories.html.twig', {'categories': categories}) }}
    {% endif %}

    {% if products %}
        {{ include('catalog/_products.html.twig', {'products': products}) }}
    {% endif %}


    {% if category and category.parent %}
        <a href="{{ path('app_catalog_category', {'codeName': category.getParent.codeName}) }}">back to list</a>
    {% elseif category %}
        <a href="{{ path('app_catalog') }}">back to list</a>
    {% endif %}

{% endblock %}
