{% extends 'base.html.twig' %}

{% block title %}Product{% endblock %}

{% block body %}
    <h1>Product</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ product.id }}</td>
        </tr>
        <tr>
            <th>Name</th>
            <td>{{ product.name }}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{ product.description }}</td>
        </tr>
        <tr>
            <th>Price</th>
            <td>{{ product.price }}</td>
        </tr>
        <tr>
            <th>Preview image</th>
            <td>
                {% if product.previewPicture %}
                    <img src="{{ product.previewPicture.localPath }}" alt="">
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>Image</th>
                <td>
                    {% for picture in product.detailPictures %}
                        <img src="{{ picture.localPath }}" alt="{{ product.name }}">
                    {% endfor %}
                </td>
        </tr>
        </tbody>
    </table>

    {#    <a href="{{ path('app_product_index') }}">back to list</a> #}

{% endblock %}
